<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.CkdbMapper">


    <insert id="insertBill" parameterType="com.mallfe.item.pojo.Ckdb">
        insert into mf_ckdb(lsh, lrid, username, truename, dept_code, instore_code, outstore_code, status)
        values(#{lsh},#{lrid},#{username},#{truename},#{deptCode},#{inStoreCode},#{outStoreCode},0)
    </insert>
    <insert id="insertMx" parameterType="com.mallfe.item.pojo.Ckdb">
        insert into mf_ckdb_mx(lsh, hh, sl)
        values
        <foreach collection="list" item="item" index="index"
                 open="" separator="," close="">
            (#{lsh},#{item.hh},#{item.sl})
        </foreach>
    </insert>
    <update id="updateStatus">
        update mf_ckdb set status=#{status} where status=#{oldStatus} and lsh=#{lsh}
    </update>
    <delete id="deleteMx">
        delete from mf_ckdb_mx where lsh=#{lsh}
    </delete>
    <select id="selectBill" resultType="com.mallfe.item.pojo.Ckdb">
        select a.id,lsh,lrid,username,truename,status,
        case status
            when 0 then '新增'
            when 1 then '待审核1'
            when 2 then '待审核2'
            when 3 then '待审核3'
            when 4 then '已生效'
            when 9 then '已作废'
            end as statusInfo,
        lrsj,cksj,lx, case lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
        a.instore_code as inStoreCode,b.store_name as inStoreName,
        a.outstore_code as outStoreCode,d.store_name as outStoreName,
        a.dept_code as deptCode,c.dept_name as deptName
        from mf_ckdb a left join mf_store b on a.instore_code =b.store_code
            left join mf_store d on a.outstore_code = d.store_code
            left join mf_region c on a.dept_code=c.dept_code
        <where>
            <if test="lsh != null and lsh!= ''">
                a.lsh=#{lsh}
            </if>
            <if test="hh != null and hh!= ''">
                and a.lsh in (select lsh from mf_ckdb_mx where hh =#{hh})
            </if>
            <if test="status != null and status != ''">
                and a.status=#{status}
            </if>

        </where>
        order by a.lrsj desc
    </select>
    <select id="selectMx" resultType="com.mallfe.item.pojo.CkdbDetail">
        select a.id,lsh,a.hh,sl,b.pinm,b.xingh,b.tm from
        mf_ckdb_mx a left join mf_sp b on a.hh=b.hh where a.lsh=#{lsh} order by a.id
    </select>
</mapper>
