<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.CkdbMapper">


    <insert id="insertBill" parameterType="com.mallfe.item.pojo.Ckdb">
        insert into mf_ckdb(lsh, lrid, username, truename, dept_code, instore_code, outstore_code, status)
        values(#{lsh},#{lrid},#{username},#{truename},#{deptCode},#{inStoreCode},#{outStoreCode},0)
    </insert>
</mapper>
