<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.GhMapper">

    <update id="updateStatusToCommited" parameterType="com.mallfe.item.pojo.Gh">
        update mf_gh set status = 1,ckuserid=#{ckuserid},cksj=now() where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Gh">
        update mf_gh set status = 9 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToRevert" parameterType="com.mallfe.item.pojo.Gh">
        update mf_gh set status = 10 where lsh = #{lsh} and status = 1
    </update>

    <update id="updateBill" parameterType="com.mallfe.item.pojo.Gh">
        update mf_gh set hh=#{hh},sl=#{sl},lx=#{lx},province=#{province},city=#{city},
            district=#{district},location=#{location},phone=#{phone},contact=#{contact},remark=#{remark},
                         qwsj=#{qwsj} where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToGhps">
        update mf_gh set status  = '2',
                         psdh = #{psdh},
                         driver_code = #{driver},
                         path_code = #{path}
        where lsh = #{lsh} and status = '1'
    </update>
    <update id="updateStatusToUnGhps">
        update mf_gh set status  = '1',
                         psdh = null,
                         driver_code = null,
                         path_code = null
        where psdh = #{lsh} and status = '2'
    </update>
    <update id="updateStatusToUnGhpssByArrival">
        update mf_gh set status= '1',psdh = null,
            driver_code = null,
            path_code = null
        where lsh=#{lsh}
    </update>
    <update id="updateStatusToArrival">
        update mf_gh set status = '3',sdsj=now() where lsh=#{lsh} and status = '2'
    </update>

    <select id="selectGhWithLsh" resultType="com.mallfe.item.pojo.Gh">
        select b.id, b.lsh , b.hh, b.sl, b.lx, b.province, b.city, b.district,
               concat(ifnull(b.province,''),' ',ifnull(b.city,''),' ',ifnull(b.district,''),' ',ifnull(b.location,'')) as
                   location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.driver_code as driverCode, b.path_code as pathCode,
               b.store_code as storeCode,e.store_name as storeName,
               b.storage_code as storageCode,f.store_name as storageName,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,b.remark,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo
        From mf_ghps_mx a left join mf_gh b on a.ddh = b.lsh
                        left join mf_sp c on b.hh=c.hh
                        left join mf_store e on b.store_code = e.store_code
                        left join mf_store f on b.storage_code = f.store_code
        where a.lsh = #{lsh}
    </select>
    <select id="selectGhWithLshForRk" resultType="com.mallfe.item.pojo.Gh">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, concat(ifnull(b.province,''),' ',ifnull(b.city,''),' ',ifnull(b.district,''),' ',ifnull(b.location,'')) as location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.driver_code as driverCode, b.path_code as pathCode,
               b.store_code as storeCode,e.store_name as storeName,
               b.storage_code as storageCode,f.store_name as storageName,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,b.remark,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo
        From mf_ghpsrk_mx a left join mf_gh b on a.ddh = b.lsh
                          left join mf_sp c on b.hh=c.hh
                          left join mf_store e on b.store_code = e.store_code
                          left join mf_store f on b.storage_code = f.store_code
        where a.lsh = #{lsh}
    </select>
    <select id="selectGhList" resultType="com.mallfe.item.pojo.Gh">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, concat(ifnull(b.province,''),' ',ifnull(b.city,''),' ',ifnull(b.district,''),' ',ifnull(b.location,'')) as location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, b.status,
               b.driver_code as driverCode, b.path_code as pathCode,
               b.store_code as storeCode,e.store_name as storeName,
               b.storage_code as storageCode,f.store_name as storageName,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,b.remark,
               c.pinm,c.xingh,c.tm,ifnull(d.kucn,0) as kucn,
               case b.status
                   when 0 then '新增'
                   when 1 then '未派车'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo
        From mf_gh b left join mf_sp c on b.hh=c.hh
        left join mf_kucn d on b.hh=d.hh and b.lx = d.lx and b.storage_code = d.store_code
        left join mf_store e on b.store_code = e.store_code
        left join mf_store f on b.storage_code = f.store_code
        inner join mf_user g on b.dept_code = g.dept_code
        <where>
            <if test="key != null and key != ''">
                (b.lsh = #{key}
                or c.pinm like concat('%',#{key},'%')
                or cast(b.hh as char) = #{key}
                or b.contact like concat('%',#{key},'%'))

            </if>

            <if test="status != null">
                and b.status=#{status}
            </if>

            <if test="uid != null">
                and g.id =#{uid}

            </if>
        </where>
        order by b.lsh desc
    </select>

    <select id="selectOneBill" resultType="com.mallfe.item.pojo.AllBill">
        select lsh, lrid, truename, status, lrsj, hh, pinm, sl, lx,province,city,district,
               concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location, phone, contact, qwsj, sdsj,xingh,tm,remark,
               case status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo,
               store_code as storeCode,store_name as storename,storage_code as storageCode,storage_name as storageName,
               dept_code as deptName,dept_name as deptName,driver_name as driverName,driver_phone as driverPhone
        from vw_xs where lsh = #{lsh}
    </select>

</mapper>
