<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.GhpsrkMapper">

    <insert id="insertFromGhps">
        insert into mf_ghpsrk(lx, lsh, lrid, lrusername, truename, status, lrsj, cksj, fcsj, sdsj, driver_code,
                              path_code,dept_code,store_code)
        select b.status,a.lsh, lrid, lrusername, truename, 2, lrsj, cksj, fcsj, sdsj, driver_code,
               path_code,dept_code,store_code from mf_ghps a left join mf_ghps_mx b on a.lsh=b.lsh
        where a.lsh=#{lsh}
    </insert>
    <insert id="insertGhpsrkMx">
        insert into mf_ghpsrk_mx(lsh,ddh,status)
        select  lsh,ddh,status from mf_ghps_mx where lsh=#{lsh}
    </insert>
    <update id="updateGhpsrkStatus">
        update mf_ghpsrk set status = 3 where lsh=#{lsh} and status=2
    </update>
    <select id="selectGhpsrk" resultType="com.mallfe.item.pojo.Ghpsrk">
        select lsh,a.lrid,a.driver_code as driverCode,b.driver_name as driverName,
               a.lrusername, a.truename,case a.lx when 1 then '送达' when 2 then '未送达' end as lxInfo,
               a.path_code as pathCode,c.path_name as pathName,
               a.lrsj,a.fcsj,a.sdsj,a.status,a.store_code as storeCode,d.store_name as storeName,
               case a.status when 2 then '待入库' when 3 then '已入库' end as statusInfo
        from mf_ghpsrk a
            left join mf_driver b on a.driver_code = b.driver_code
            left join mf_path c on a.path_code = c.path_code
            left join mf_store d on a.store_code = d.store_code
        inner join mf_user e on a.store_code = e.storage_code
        where e.id=#{uid} and  a.status = #{status}
        order by a.lsh desc
    </select>
    <select id="selectGhpsrkMx" resultType="com.mallfe.item.pojo.GhpsrkDetail">
        select a.lsh,a.ddh,b.sl,b.lx,b.hh,a.status from mf_ghpsrk_mx a left join
            mf_gh b on a.ddh=b.lsh
            where a.lsh=#{lsh}
    </select>
</mapper>
