<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.GjMapper">

    <insert id="insertBill" parameterType="com.mallfe.item.pojo.Gj">
        insert into mf_gj(lsh, lrid, username, truename, status, lrsj, lx)
            values(#{lsh},#{lrid},#{username},#{truename},#{status},now(),#{lx})
    </insert>
</mapper>
