<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.GjMapper">
    <update id="updateStatusToFinish">
        update mf_gj set status=3,cksj = now() where lsh=#{lsh}
    </update>
    <update id="updateBillStatus">
        update mf_gj set status=#{status} where lsh=#{lsh}
    </update>

    <select id="selectBill" resultType="com.mallfe.item.pojo.Gj">
        select a.id,lsh,lrid,username,truename,status,
               case status
                   when 0 then '新增'
                   when 1 then '物流审核'
                   when 2 then '库管审核'
                   when 3 then '已生效'
                   when 9 then '已作废' end as statusInfo,
               lrsj,cksj,lx, case lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               a.store_code as storeCode,b.store_name as storeName,
               a.dept_code as deptCode,c.dept_name as deptName
            from mf_gj a left join mf_store b on a.store_code =b.store_code
            left join mf_region c on a.dept_code=c.dept_code
        <where>
            <if test="lsh != null and lsh!= ''">
                a.lsh=#{lsh}
            </if>
            <if test="status != null ">
                and a.status = #{status}
            </if>
        </where>
            order by a.lrsj desc
    </select>
</mapper>
