<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.PsMapper">


    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Ps">
        update mf_ps set status = 9 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToOut">
        update mf_ps set status = 1,fcsj = now() where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToFinish">
        update mf_ps set status = 2,sdsj = now() where lsh = #{lsh} and status = 1
    </update>
    <update id="updatePsmxStatusToUnFinish">
        update mf_ps_mx set status= 2 where lsh = #{lsh}
    </update>


    <select id="selectPs" resultType="com.mallfe.item.pojo.Ps">
        select a.id,a.lsh,a.driver_code as driverCode,b.driver_name as driverName,
               a.path_code as pathCode,c.path_name as pathName ,a.lrsj,a.fcsj,a.status,a.sdsj,
               a.lrid,a.lrusername,a.truename,a.store_code as storeCode,a.dept_code as deptCode,
               case a.status
                   when 0 then '新增'
                   when 1 then '已发出'
                   when 2 then '已送达'
                   when 9 then '已作废'
               end as statusInfo,d.store_name as storeName
        from mf_ps a left join mf_driver b on a.driver_code = b.driver_code
        left join mf_path c on a.path_code = c.path_code
        left join mf_store d on a.store_code = d.store_code
        <where>
            <if test="lsh != null">
                a.lsh = #{lsh}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
        </where>
        order by a.lsh desc

    </select>
    <select id="selectList" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, hh, pinm, sl, lx, psdh,
               concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               phone, contact, qwsj, sdsj,xingh,tm,ifnull(remark,'') as remark,province,city,district,
               store_code as storeCode,store_name as storeName,lrsj,lrid,truename,
               dept_code as deptCode,dept_name as deptName,driver_name as driverName,driver_phone as driverPhone,
               ps_status as psStatus,
               case ps_status
                   when 0 then '新增'
                   when 1 then '已发出'
                   when 2 then '已送达'
                   when 3 then '已作废'
                   end as psStatusInfo,
               wl_status as wlStatus,
               case wl_status
                   when 0 then '运输中'
                   when 1 then '已送达'
                   when 2 then '未送达'
                   end as wlStatusInfo
        from vw_ps
        <where>
            <if test="driverCode != null and driverCode != ''">
                driver_code = #{driverCode}
            </if>

            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="lsh != null and lsh != ''">
                and lsh = #{lsh}
            </if>
            <if test="hh != null">
                and hh = #{hh}
            </if>
            <if test="psdh != null and psdh != ''">
                and psdh = #{psdh}
            </if>
            <if test="wlstatus != null">
                and wl_status = #{wlstatus}
            </if>
            <if test="psstatus != null">
                and ps_status = #{psstatus}
            </if>
        </where>
        order by lrsj desc
    </select>
    <select id="selectPsWithUid" resultType="com.mallfe.item.pojo.Ps">
        select a.id,a.lsh,a.driver_code as driverCode,b.driver_name as driverName,
        a.path_code as pathCode,c.path_name as pathName ,a.lrsj,a.fcsj,a.status,a.sdsj,
        a.lrid,a.lrusername,a.truename,a.store_code as storeCode,a.dept_code as deptCode,
        case a.status
        when 0 then '新增'
        when 1 then '已发出'
        when 2 then '已送达'
        when 9 then '已作废'
        end as statusInfo,e.store_name as storeName
        from mf_ps a left join mf_driver b on a.driver_code = b.driver_code
        left join mf_path c on a.path_code = c.path_code
        inner join mf_user d on a.store_code = d.storage_code
        left join mf_store e on a.store_code = e.store_code
        <where>
            <if test="lsh != null and lsh != ''">
                a.lsh = #{lsh}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="uid != null and uid != ''">
                and d.id = #{uid}
            </if>
        </where>
        order by a.lsh desc
    </select>

</mapper>
