<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.PsrkMapper">

    <insert id="insertFromPs">
        insert into mf_psrk(lsh, lrid, lrusername, truename, status, lrsj, cksj, fcsj, sdsj, driver_code, path_code)
        select lsh, lrid, lrusername, truename, 2, lrsj, cksj, fcsj, sdsj, driver_code, path_code from mf_ps
        where lsh=#{lsh}
    </insert>
    <insert id="insertPsrkMx">
        insert into mf_psrk_mx(lsh,ddh,status)
        select  lsh,ddh,status from mf_ps_mx where lsh=#{lsh} and status=2
    </insert>
    <select id="selectPsrk" resultType="com.mallfe.item.pojo.Psrk">
        select lsh,a.lrid,a.driver_code as driverCode,b.driver_name as driverName,
               lrusername, truename,
               a.path_code as pathCode,c.path_name as pathName,
               a.lrsj,a.fcsj,a.sdsj,a.status,
               case a.status when 2 then '待入库' when 3 then '已入库' end as statusInfo
        from mf_psrk a left join mf_driver b on a.driver_code = b.driver_code
                     left join mf_path c on a.path_code = c.path_code

        order by a.lsh desc
    </select>
</mapper>
