<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.ReportMapper">

    <select id="selectPlKucnStructure" resultType="com.mallfe.item.pojo.KucnStructure">
        select concat(substr(b.plbm,1,4),'00') as plbm,c.plmc as name,sum(a.kucn) as value
        from mf_his_kucn a
                 left join mf_sp b on a.hh = b.hh
                 left join mf_pl c on concat(substr(b.plbm,1,4),'00')= c.plbm
        where a.rq = #{rq} and a.dept_code = #{deptCode}
            <if test="storeCode!= null and storeCode != '' ">
                and a.store_code = #{storeCode}
            </if>
        group by concat(substr(b.plbm,1,4),'00'),c.plmc having sum(kucn)!= 0 order by 1
    </select>
    <select id="selectPpKucnStructure" resultType="com.mallfe.item.pojo.KucnStructure">
        select b.plbm,c.plmc as name,sum(a.kucn) as value
        from mf_his_kucn a
                 left join mf_sp b on a.hh = b.hh
                 left join mf_pl c on b.plbm = c.plbm
        where a.rq = #{rq}
          and a.dept_code = #{deptCode}
        <if test="plbm!= null and plbm != '' ">
            and substr(b.plbm,1,4) = substr(#{plbm},1,4)
        </if>

        <if test="storeCode!= null and storeCode != '' ">
            and a.store_code = #{storeCode}
        </if>
        group by b.plbm,c.plmc having sum(kucn)!= 0 order by 1
    </select>
    <select id="selectXsthList" resultType="com.mallfe.item.pojo.AllBill">
        select a.lsh,
               case a.status
                   when 0 then '新增'
                   when 1 then '未派车'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo,
               hh,pinm,sl,
               case a.lx
                   when 0 then '正常'
                   when 1 then '样机'
                   when 2 then '赠品'
                   when 3 then '残次'
                   end as lxInfo,a.qwsj,a.dept_code as deptCode,a.dept_name as deptName,
               a.xingh,a.store_code as storeCode,a.store_name as storeName,
               a.storage_code as storageCode,a.storage_name as storageName,a.contact,a.phone,
               concat(ifnull(a.province,''),' ',ifnull(a.city,''),' ',ifnull(a.district,''),
                   ' ',ifnull(a.location,'')) as location,ckuserid,ckusername
        from vw_xs a where a.billtype=#{type} and lrsj between #{strq} and concat(#{torq},' 23:59:59')
        <if test="storecode!= null and storecode != '' ">
            and a.store_code = #{storecode}
        </if>

        <if test="storagecode!= null and storagecode != '' ">
            and a.storage_code = #{storagecode}
        </if>

        <if test="lsh!= null and lsh != '' ">
            and a.lsh = #{lsh}
        </if>

        <if test="hh!= null">
            and a.hh = #{hh}
        </if>

        <if test="plbm!= null and plbm != '' ">
            and (a.plbm = #{plbm} or concat(substr(plbm,1,4),'00')=#{plbm} or concat(substr(plbm,1,2),'0000')=#{plbm})
        </if>

        order by a.lrsj desc
    </select>
    <select id="selectXsthDetail" resultType="com.mallfe.item.pojo.AllBill">
        select a.lsh,case a.status
                         when 0 then '新增'
                         when 1 then '未派车'
                         when 2 then '已派车'
                         when 3 then '已送达'
                         when 9 then '已作废'
                        end as statusInfo,a.qwsj,a.dept_code as deptCode,a.dept_name as deptName,
               hh,pinm,sl,case a.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               a.xingh,a.store_code as storeCode,a.store_name as storeName,picUrl,sdpicUrl,
               a.storage_code as storageCode,a.storage_name as storageName,a.contact,a.phone,
               concat(ifnull(a.province,''),' ',ifnull(a.city,''),' ',ifnull(a.district,''),
                   ' ',ifnull(a.location,'')) as location,a.plbm,b.plmc,a.truename,a.driver_name as driverName,
               a.driver_phone as driverPhone,sdsj,lrsj
        from vw_xs a left join mf_pl b on a.plbm=b.plbm where a.lsh=#{lsh}
    </select>
    <select id="selectKucnList" resultType="com.mallfe.item.pojo.KucnReport">
        select a.dept_code                         as deptCode,
               a.store_code                        as storageCode,
               d.store_name                        as storageName,
               a.hh,
               b.pinm,
               b.xingh,
               c.plmc,
               b.plbm,
               sum(IF(lx = 0, kucn, 0)) as lx0,
               sum(IF(lx = 1, kucn, 0)) as lx1,
               sum(IF(lx = 2, kucn, 0)) as lx2,
               sum(IF(lx = 3, kucn, 0)) as lx3
        from mf_kucn a
                 left join mf_sp b on a.hh = b.hh
                 left join mf_pl c on b.plbm = c.plbm
                 left join mf_store d on a.store_code = d.store_code
        <where>
            <if test="deptcode != null and deptcode != ''">
                a.dept_code = #{deptcode}
            </if>

            <if test="storagecode != null and storagecode != ''">
                and a.store_code = #{storagecode}
            </if>

            <if test="plbm!= null and plbm != '' ">
                and (b.plbm = #{plbm} or concat(substr(b.plbm,1,4),'00')=#{plbm} or
                concat(substr(b.plbm,1,2),'0000')=#{plbm})
            </if>

            <if test="hh!= null">
                and a.hh = #{hh}
            </if>

        </where>
        group by a.dept_code , a.store_code  , d.store_name  , a.hh, b.pinm, b.xingh, c.plmc, b.plbm
        order by a.dept_code , a.store_code,b.plbm,a.hh
    </select>
    <select id="selectRtKucnList" resultType="com.mallfe.item.pojo.KucnReport">
        select a.dept_code                         as deptCode,
        a.store_code                        as storageCode,
        d.store_name                        as storageName,
        a.hh,
        b.pinm,
        b.xingh,
        c.plmc,
        b.plbm,
        sum(IF(lx = 0, kucn, 0)) as lx0,
        sum(IF(lx = 1, kucn, 0)) as lx1,
        sum(IF(lx = 2, kucn, 0)) as lx2,
        sum(IF(lx = 3, kucn, 0)) as lx3
        from mf_kucn_rt a
        left join mf_sp b on a.hh = b.hh
        left join mf_pl c on b.plbm = c.plbm
        left join mf_store d on a.store_code = d.store_code
        <where>
            <if test="deptcode != null and deptcode != ''">
                a.dept_code = #{deptcode}
            </if>

            <if test="storagecode != null and storagecode != ''">
                and a.store_code = #{storagecode}
            </if>

            <if test="plbm!= null and plbm != '' ">
                and (b.plbm = #{plbm} or concat(substr(b.plbm,1,4),'00')=#{plbm} or
                concat(substr(b.plbm,1,2),'0000')=#{plbm})
            </if>

            <if test="hh!= null">
                and a.hh = #{hh}
            </if>

        </where>
        group by a.dept_code , a.store_code  , d.store_name  , a.hh, b.pinm, b.xingh, c.plmc, b.plbm
        order by a.dept_code , a.store_code,b.plbm,a.hh
    </select>
    <select id="selectKucnLxList" resultType="com.mallfe.item.pojo.KucnCompareReport">
        select mk.dept_code as deptCode,mr.dept_name as deptName,ms.plbm,plmc,
               mk.store_code as storageCode,m.store_name as storageName,
               mk.hh,ms.pinm,ms.xingh,
               mk.lx,msl.lxInfo, mk.kucn as kucn,mkr.kucn as rtKucn,
               ifnull(dpc.sl,0) as dpcSl,ifnull(ypc.sl,0) as ypcSl
            from mf_kucn mk left join mf_kucn_rt mkr on mk.store_code = mkr.store_code and mk.hh = mkr.hh and mk.lx = mkr.lx
                left join (select hh,storage_code as store_code,lx,sum(sl) as sl from vw_xs
                where billtype ='XS' and status=1 group by hh,storage_code,lx) dpc
                    on mk.store_code = dpc.store_code and mk.hh = dpc.hh and mk.lx = dpc.lx
                left join (select hh,storage_code as store_code,lx,sum(sl) as sl from vw_xs
                where billtype ='XS' and  status=2 and ps_status=0 group by hh,storage_code,lx) ypc
                    on mk.store_code = ypc.store_code and mk.hh = ypc.hh and mk.lx = ypc.lx
                left join mf_sp ms on mk.hh = ms.hh
                left join mf_sp_lx msl on mk.lx = msl.lx
                left join mf_store m on mk.store_code = m.store_code
                left join mf_region mr on mk.dept_code = mr.dept_code
                left join mf_pl mp on ms.plbm = mp.plbm
        <where>
            <if test="deptcode != null and deptcode != ''">
                mk.dept_code = #{deptcode}
            </if>

            <if test="storagecode != null and storagecode != ''">
                and mk.store_code = #{storagecode}
            </if>
            <if test="plbm!= null and plbm != '' ">
                and (ms.plbm = #{plbm} or concat(substr(ms.plbm,1,4),'00')=#{plbm} or
                concat(substr(ms.plbm,1,2),'0000')=#{plbm})
            </if>

            <if test="hh!= null">
                and mk.hh = #{hh}
            </if>
        </where>
        order by mk.dept_code,mk.store_code,mk.hh,mk.lx
    </select>
    <select id="selectSpInAndOutDeatil" resultType="com.mallfe.item.pojo.SpInAndOutDeatilReport">
        select sj,a.ywbm,b.ywmc,a.store_code as storeCode,c.store_name as storeName,a.lsh,a.lx,a.rksl,a.cksl,
               case a.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo
        from (
                 select sj,ywbm,store_code,lsh,sl as rksl,null as cksl,lx from mf_kucn_in
                <where>
                    hh=#{hh} and dept_code = #{deptcode}

                    <if test="lx!= null">
                        and lx = #{lx}
                    </if>

                    <if test="storecode != null and storecode != ''">
                        and store_code = #{storecode}
                    </if>

                    <if test="strq != null and strq != '' and torq != null and torq != ''">
                        and sj between #{strq} and concat(#{torq},' 23:59:59')
                    </if>
                </where>
                 union all
                 select sj,ywbm,store_code,lsh,null as rksl,sl as cksl,lx from mf_kucn_out
                <where>
                    hh=#{hh}  and dept_code = #{deptcode}

                    <if test="lx!= null">
                        and lx = #{lx}
                    </if>

                    <if test="storecode != null and storecode != ''">
                        and store_code = #{storecode}
                    </if>

                    <if test="strq != null and strq != '' and torq != null and torq != ''">
                        and sj between #{strq} and concat(#{torq},' 23:59:59')
                    </if>
                </where>
             ) a
                 left join mf_ywbm b on a.ywbm=b.ywbm
                 left join mf_store c on a.store_code = c.store_code
        order by sj
    </select>
</mapper>
