<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.ReportMapper">

    <select id="selectPlKucnStructure" resultType="com.mallfe.item.pojo.KucnStructure">
        select concat(substr(b.plbm,1,4),'00') as plbm,c.plmc as name,sum(a.kucn) as value
        from mf_his_kucn a
                 left join mf_sp b on a.hh = b.hh
                 left join mf_pl c on concat(substr(b.plbm,1,4),'00')= c.plbm
        where a.rq = #{rq} and a.dept_code = #{deptCode}
            <if test="storeCode!= null and storeCode != '' ">
                and a.store_code = #{storeCode}
            </if>
        group by concat(substr(b.plbm,1,4),'00'),c.plmc having sum(kucn)!= 0 order by 1
    </select>
    <select id="selectPpKucnStructure" resultType="com.mallfe.item.pojo.KucnStructure">
        select b.plbm,c.plmc as name,sum(a.kucn) as value
        from mf_his_kucn a
                 left join mf_sp b on a.hh = b.hh
                 left join mf_pl c on b.plbm = c.plbm
        where a.rq = '2019-09-13'
          and a.dept_code = #{deptCode}
        <if test="plbm!= null and plbm != '' ">
            and substr(b.plbm,1,4) = substr(#{plbm},1,4)
        </if>

        <if test="storeCode!= null and storeCode != '' ">
            and a.store_code = #{storeCode}
        </if>
        group by b.plbm,c.plmc having sum(kucn)!= 0 order by 1
    </select>
    <select id="selectXsthList" resultType="com.mallfe.item.pojo.AllBill">
        select a.lsh,case a.status
                   when 0 then '配送中'
                   when 1 then '已送达'
                   when 2 then '未送达'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   end as statusInfo,
               hh,pinm,sl,case a.lx
                   when 0 then '正常'
                   when 1 then '样机'
                   when 2 then '赠品'
                   when 3 then '残次'
                   end as lxInfo,
               a.xingh,a.store_code as storeCode,a.store_name as storeName,
               a.storage_code as storageCode,a.storage_name as storageName,a.contact,a.phone,
               concat(ifnull(a.province,''),' ',ifnull(a.city,''),' ',ifnull(a.district,''),
                   ' ',ifnull(a.location,'')) as location
        from vw_xs a where a.billtype=#{type} and lrsj between #{strq} and concat(#{strq},' 23:59:59')
        <if test="storecode!= null and storecode != '' ">
            and a.store_code = #{storecode}
        </if>

        <if test="storagecode!= null and storagecode != '' ">
            and a.store_code = #{storagecode}
        </if>

        <if test="lsh!= null and lsh != '' ">
            and a.lsh = #{lsh}
        </if>

        <if test="hh!= null">
            and a.hh = #{hh}
        </if>

        <if test="plbm!= null and plbm != '' ">
            and (a.plbm = #{plbm} or concat(substr(plbm,1,4),'00')=#{plbm} or concat(substr(plbm,1,2),'0000')=#{plbm})
        </if>

        order by a.lrsj desc
    </select>
    <select id="selectXsthDetail" resultType="com.mallfe.item.pojo.AllBill">
        select a.lsh,case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo,
               hh,pinm,sl,case a.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               a.xingh,a.store_code as storeCode,a.store_name as storeName,
               a.storage_code as storageCode,a.storage_name as storageName,a.contact,a.phone,
               concat(ifnull(a.province,''),' ',ifnull(a.city,''),' ',ifnull(a.district,''),
                   ' ',ifnull(a.location,'')) as location,a.plbm,b.plmc,a.truename,a.driver_name as driverName,
               a.driver_phone as driverPhone,sdsj,lrsj
        from vw_xs a left join mf_pl b on a.plbm=b.plbm where a.lsh=#{lsh}
    </select>
</mapper>
