<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.StoreMapper">
    <select id="selectStoreList" resultType="com.mallfe.item.pojo.Store">
        select a.id,store_code as storeCode,store_name as storeName,
               a.dept_code as deptcode, b.dept_name as deptname
        from mf_store a
            left join mf_region b on a.dept_code = b.dept_code
            <where>
                <if test="deptcode != null and deptcode != ''">
                    a.dept_code = #{deptcode}
                </if>
            </where>
            order by storeCode
    </select>
</mapper>
