<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.ThMapper">

    <update id="updateStatusToCommited" parameterType="com.mallfe.item.pojo.Th">
        update mf_th set status = 1 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Xs">
        update mf_th set status = 9 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateBill" parameterType="com.mallfe.item.pojo.Xs">
        update mf_th set hh=#{hh},sl=#{sl},lx=#{lx},province=#{province},city=#{city},
            district=#{district},location=#{location},phone=#{phone},contact=#{contact},remark=#{remark},
                         qwsj=#{qwsj} where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToTp">
        update mf_th set status  = '2',
                         psdh = #{psdh},
                         driver_code = #{driver},
                         path_code = #{path}
        where lsh = #{lsh} and status = '1'
    </update>
    <update id="updateStatusToUnTp">
        update mf_th set status  = '1',
                         psdh = null,
                         driver_code = null,
                         path_code = null
        where psdh = #{lsh} and status = '2'
    </update>
    <select id="selectThWithLsh" resultType="com.mallfe.item.pojo.Th">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, b.location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               b.driver_code, b.path_code,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,b.remark,
               c.pinm,c.xingh,c.tm,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo
        From mf_tp_mx a left join mf_th b on a.ddh = b.lsh
                        left join mf_sp c on b.hh=c.hh
        where a.lsh = #{lsh}
    </select>

    <select id="selectThList" resultType="com.mallfe.item.pojo.Th">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, b.location, b.phone,
        b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, b.status,
        b.driver_code, b.path_code,
        case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
        b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,b.remark,
        c.pinm,c.xingh,c.tm,
        case b.status
        when 0 then '新增'
        when 1 then '已提交'
        when 2 then '已派车'
        when 3 then '已送达'
        when 9 then '已作废'
        end as statusInfo
        From mf_th b left join mf_sp c on b.hh=c.hh
        <where>
            <if test="key != null">
                b.lsh = #{key}
                or c.pinm like concat('%',#{key},'%')
                or cast(b.hh as char) = #{key}
                or b.contact like concat('%',#{key},'%')

            </if>
            <if test="status != null">
                and b.status=#{status}
            </if>
        </where>
        order by b.lsh desc
    </select>
</mapper>
