<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.ThMapper">

    <update id="updateStatusToCommited" parameterType="com.mallfe.item.pojo.Th">
        update mf_th set status = 1 where lsh = #{lsh} and status = 0
    </update>


</mapper>
