<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.TpMapper">


    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Tp">
        update mf_tp set status = 9 where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToCommit">
        update mf_tp set status = 1,fcsj= now() where lsh = #{lsh} and status = 0
    </update>
    <update id="updateTpmxToUnFinish">
        update mf_tp_mx set status = 2 where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToFinish">
        update mf_tp set status = 2,sdsj= now() where lsh = #{lsh} and status = 1
    </update>
    <select id="selectTp" resultType="com.mallfe.item.pojo.Tp">
        select a.psdh as lsh,a.driver_code as driverCode,b.driver_name as driverName,
               a.location,a.phone,a.contact,
               a.path_code as pathCode,c.path_name as pathName ,a.lrsj,a.fcsj,a.wl_status as status,a.sdsj,
               a.lrid,a.lrusername,a.truename,a.dept_code as deptCode,a.store_code as storeCode,
               case a.wl_status
                   when 0 then '新增'
                   when 1 then '已发出'
                   when 2 then '已送达'
                   when 9 then '已作废'
               end as statusInfo,d.store_name as storeName
        from vw_ps a left join mf_driver b on a.driver_code = b.driver_code
        left join mf_path c on a.path_code = c.path_code
        left join mf_store d on a.store_code = d.store_code
        <where>
            a.billtype='TP'

            <if test="lsh != null and lsh != ''">
                and a.psdh = #{lsh}
            </if>

            <if test="status != null">
                and a.wl_status = #{status}
            </if>

            <if test="key != null and lsh != ''">
                and (a.location like CONCAT('%',#{key},'%')
                or a.lsh like CONCAT('%',#{key},'%')
                or a.psdh like CONCAT('%',#{key},'%')
                or a.phone like CONCAT('%',#{key},'%')
                )
            </if>
        </where>
        order by a.psdh desc
    </select>
    <select id="selectTpWithUid" resultType="com.mallfe.item.pojo.Tp">
        select a.id,a.lsh,a.driver_code as driverCode,b.driver_name as driverName,
        a.path_code as pathCode,c.path_name as pathName ,a.lrsj,a.fcsj,a.status,a.sdsj,
        a.lrid,a.lrusername,a.truename,a.dept_code as deptCode,a.store_code as storeCode,
        case a.status
        when 0 then '新增'
        when 1 then '已发出'
        when 2 then '已送达'
        when 9 then '已作废'
        end as statusInfo,e.store_name as storeName
        from mf_tp a left join mf_driver b on a.driver_code = b.driver_code
        left join mf_path c on a.path_code = c.path_code
        inner join mf_user d on a.store_code = d.storage_code
        left join mf_store e on a.store_code = e.store_code
        <where>
            <if test="lsh != null and lsh != ''">
                a.lsh = #{lsh}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="uid != null and uid != ''">
                and d.id = #{uid}
            </if>
        </where>
        order by a.lsh desc
    </select>

</mapper>
