<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.mallfe.item.pojo.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        insert into mf_user(username, password, truename, lx, store_code, dept_code,storage_code)
        values(#{username},#{password},#{truename},#{lx},#{storeCode},#{deptCode},#{storageCode})


    </insert>
    <insert id="insertUserPl" parameterType="com.mallfe.item.pojo.User">
        INSERT INTO mf_user_pl(uid,plbm) values
        <foreach collection="pl" item="item"  index="index"  open="" separator="," close="">
             (#{id},#{item.plbm})
        </foreach>
    </insert>
    <update id="updateUserInfo" parameterType="com.mallfe.item.pojo.User">
        update mf_user set password = #{password},
                           truename = #{truename},
                           store_code = #{storeCode},
                           storage_code = #{storageCode}
                           lx=#{lx}
        where id=#{id}
    </update>
    <update id="updatePwd">
        update mf_user set password=#{password} where id=#{id}
    </update>
    <delete id="deleteUserPl" parameterType="com.mallfe.item.pojo.User">
        delete from mf_user_pl where uid = #{id}
    </delete>
    <delete id="deleteUser">
        delete from mf_user where id = #{id}
    </delete>

    <select id="selectUserByPage" resultType="com.mallfe.item.pojo.User">
        select a.id,a.username,a.password,a.truename,a.lx,
        a.store_code as storeCode,d.store_name as storename,
               c.lxInfo,a.dept_code,e.dept_name,
               a.storage_code as storageCode,f.store_name as storageName
        from mf_user a left join  mf_store d on a.store_code =d.store_code
        left join mf_user_lx c on a.lx=c.lx
        left join mf_region e on a.dept_code = e.dept_code
        left join mf_store f on a.storage_code = f.store_code
        <where>
            <if test="key != null and  key != ''">
                a.username like concat('%',#{key},'%')
                or a.truename like concat('%',#{key},'%')
            </if>
        </where>
        order by id
    </select>
    <select id="selectUserInfo" resultType="com.mallfe.item.pojo.User">
        select a.id,a.username,a.password,a.truename,a.lx,
               a.store_code as storeCode,d.store_name as storename,
               c.lxInfo,a.dept_code as deptcode,e.dept_name as deptname,
               a.storage_code as storageCode,f.store_name as storageName
        from mf_user a left join  mf_store d on a.store_code =d.store_code
            left join mf_user_lx c on a.lx=c.lx
            left join mf_region e on a.dept_code = e.dept_code
            left join mf_store f on a.storage_code = f.store_code
        where a.username=#{username} and a.password=#{password}
    </select>
    <select id="selectUserPl" resultType="com.mallfe.item.pojo.Pl">
        select a.plbm,b.plmc from mf_user_pl a left join mf_pl b on a.plbm=b.plbm where a.uid=#{uid}
    </select>
    <select id="selectUserInfoById" resultType="com.mallfe.item.pojo.User">
        select a.id,a.username,a.password,a.truename,a.lx,
               a.store_code as storeCode,d.store_name as storename,
               c.lxInfo,a.dept_code as deptcode,e.dept_name as deptname,
               a.storage_code as storageCode,f.store_name as storageName
        from mf_user a left join  mf_store d on a.store_code =d.store_code
                       left join mf_user_lx c on a.lx=c.lx
                       left join mf_region e on a.dept_code = e.dept_code
                       left join mf_store f on a.storage_code = f.store_code
        where a.id=#{uid}
    </select>


</mapper>
