<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.XsMapper">

    <update id="updateStatusToCommited" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 1 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 9 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateBill" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set hh=#{hh},sl=#{sl},lx=#{lx},province=#{province},city=#{city},
            district=#{district},location=#{location},phone=#{phone},contact=#{contact},
                         qwsj=#{qwsj} where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToPs">
        update mf_xs set status  = '2',
                         psdh = #{psdh},
                         driver_code = #{driver},
                         path_code = #{path}
        where lsh = #{lsh} and status = '1'
    </update>
    <update id="updateStatusToUnPs">
        update mf_xs set status  = '1',
                         psdh = null,
                         driver_code = null,
                         path_code = null
        where psdh = #{lsh} and status = '2'
    </update>
    <update id="updateStatusToUnPsByArrival">
        update mf_xs set status= '1',psdh = null,
            driver_code = null,
            path_code = null
        where psdh=#{lsh} and lsh not in(select ddh from mf_ps_mx where lsh=#{lsh})
    </update>

    <select id="selectXsWithLsh" resultType="com.mallfe.item.pojo.Xs">
        select b.id, b.lsh , b.hh, b.sl, b.lx, b.province, b.city, b.district, b.location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.driver_code, b.path_code,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo
        From mf_ps_mx a left join mf_xs b on a.ddh = b.lsh
                        left join mf_sp c on b.hh=c.hh
        where a.lsh = #{lsh}
    </select>
    <select id="selectXsWithLshForRk" resultType="com.mallfe.item.pojo.Xs">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, b.location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.driver_code, b.path_code,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo
        From mf_psrk_mx a left join mf_xs b on a.ddh = b.lsh
                          left join mf_sp c on b.hh=c.hh
        where a.lsh = #{lsh}
    </select>
    <select id="selectXsList" resultType="com.mallfe.item.pojo.Xs">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, b.location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, b.status,
               b.driver_code, b.path_code,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,
               case b.status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   end as statusInfo
        From mf_xs b left join mf_sp c on b.hh=c.hh
        <where>
            <if test="key != null">
                b.lsh = #{key}
                or c.pinm like concat('%',#{key},'%')
                or cast(b.hh as char) = #{key}
                or b.contact like concat('%',#{key},'%')

            </if>

            <if test="status != null">
                and b.status=#{status}
            </if>
        </where>
        order by b.lsh desc
    </select>
    <select id="selectAllBill" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, lrid, truename, status, lrsj, hh, pinm, sl, lx,
               location, phone, contact, qwsj, sdsj,xingh,tm,
               case status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   end as statusInfo,
               store_code as storeCode,store_name as storeName,
               dept_code as deptCode,dept_name as deptName
        from vw_xs
        <where>
            <if test="lrid != null">
                lrid = #{lrid}
            </if>

            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="lsh != null">
                and lsh = #{lsh}
            </if>
            <if test="hh != null">
                and hh = #{hh}
            </if>
            <if test="contact != null">
                and contact = #{contact}
            </if>

        </where>
        order by lrsj desc
    </select>
    <select id="selectOneBill" resultType="com.mallfe.item.pojo.AllBill">
        select lsh, lrid, truename, status, lrsj, hh, pinm, sl, lx,
               location, phone, contact, qwsj, sdsj,xingh,tm,
               case status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   end as statusInfo,
               store_code as storeCode,store_name as storename,
               dept_code as deptName,dept_name as deptName
        from vw_xs where lsh = #{lsh}
    </select>
    <select id="selectAllBillByStore" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, lrid, a.truename, status, lrsj, hh, pinm, sl, a.lx,
        location, phone, contact, qwsj, sdsj,xingh,tm,
        case status
        when 0 then '新增'
        when 1 then '已提交'
        when 2 then '已派车'
        when 3 then '已送达'
        when 9 then '已作废'
        end as statusInfo,
        a.store_code as storeCode,a.store_name as storeName,
        a.dept_code as deptCode,a.dept_name as deptName
        from vw_xs a
        <where>
            <if test="storecode != null">
                a.store_code = #{storecode}
            </if>

            <if test="phone != null">
                and a.phone = #{phone}
            </if>
            <if test="lsh != null">
                and a.lsh = #{lsh}
            </if>
            <if test="hh != null">
                and a.hh = #{hh}
            </if>
            <if test="contact != null">
                and a.contact = #{contact}
            </if>
        </where>
        order by a.lrsj desc
    </select>
    <select id="selectProvince" resultType="com.mallfe.item.pojo.Province">
        select distinct province from mf_district order by 1;
    </select>
    <select id="selectCity" resultType="com.mallfe.item.pojo.City">
        select distinct province,city from mf_district where province=#{province} order by 1,2;
    </select>
    <select id="selectDistrict" resultType="com.mallfe.item.pojo.District">
        select province,city,district from mf_district where city=#{city} order by id;
    </select>
</mapper>
