<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.XsMapper">

    <update id="updateStatusToCommited" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 1 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 9 where lsh = #{lsh} and status = 0
    </update>

    <update id="updateBill" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set hh=#{hh},sl=#{sl},lx=#{lx},province=#{province},city=#{city},
            district=#{district},location=#{location},phone=#{phone},contact=#{contact},
                         qwsj=#{qwsj} where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToPs">
        update mf_xs set status  = '2',
                         psdh = #{psdh},
                         driver_code = #{driver},
                         path_code = #{path}
        where lsh = #{lsh} and status = '1'
    </update>
    <update id="updateStatusToUnPs">
        update mf_xs set status  = '1',
                         psdh = null,
                         driver_code = null,
                         path_code = null
        where psdh = #{lsh} and status = '2'
    </update>

    <select id="selectXsWithLsh" resultType="com.mallfe.item.pojo.Xs">
        select id, lsh, hh, sl, lx, province, city, district, location, phone,
               contact, qwsj, lrid, lrusername, truename, status, driver_code, path_code,
               lrsj, cksj, zfsj, pcsj, fcsj, sdsj From mf_xs where lsh in(
                   select ddh from mf_ps_mx where lsh=#{lsh}
            )
    </select>

</mapper>
