<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallfe.item.mapper.XsMapper">

    <update id="updateStatusToCommited" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 1,ckuserid=#{ckuserid},cksj=now() where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToCancel" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 9,ckuserid=#{ckuserid},cksj=now() where lsh = #{lsh} and status = 0
    </update>

    <update id="updateStatusToRevert" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set status = 10,revert_info = #{revertInfo} where lsh = #{lsh} and status = 1
    </update>

    <update id="updateBill" parameterType="com.mallfe.item.pojo.Xs">
        update mf_xs set hh=#{hh},sl=#{sl},lx=#{lx},province=#{province},city=#{city},
            district=#{district},location=#{location},phone=#{phone},contact=#{contact},remark=#{remark},
                         qwsj=#{qwsj} where lsh = #{lsh} and status = 0
    </update>
    <update id="updateStatusToPs">
        update mf_xs set status  = '2',
                         psdh = #{psdh},
                         driver_code = #{driver},
                         path_code = #{path}
        where lsh = #{lsh} and status = '1'
    </update>
    <update id="updateStatusToUnPs">
        update mf_xs set status  = '1',
                         psdh = null,
                         driver_code = null,
                         path_code = null
        where psdh = #{lsh} and status = '2'
    </update>
    <update id="updateStatusToUnPsByArrival">
        update mf_xs set status= '1',psdh = null,
            driver_code = null,
            path_code = null
        where lsh=#{lsh}
    </update>
    <update id="updateStatusToArrival">
        update mf_xs set status = '3',sdsj=now() where lsh=#{lsh} and status = '2'
    </update>
    <update id="updateSdpicUrl">
        update mf_xs set sdpic_url = #{sdpicUrl} where lsh=#{lsh}
    </update>

    <select id="selectXsWithLsh" resultType="com.mallfe.item.pojo.Xs">
        select b.id, b.lsh , b.hh, b.sl, b.lx, b.province, b.city, b.district,
               concat(ifnull(b.province,''),' ',ifnull(b.city,''),' ',ifnull(b.district,''),' ',ifnull(b.location,'')) as
                   location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.driver_code as driverCode, b.path_code as pathCode,
               b.store_code as storeCode,e.store_name as storeName,
               b.storage_code as storageCode,f.store_name as storageName,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,b.remark,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo,
               b.remarks_wd as remarksWd,b.remarks_pl as remarksPl
        From mf_ps_mx a left join mf_xs b on a.ddh = b.lsh
                        left join mf_sp c on b.hh=c.hh
                        left join mf_store e on b.store_code = e.store_code
                        left join mf_store f on b.storage_code = f.store_code
        where a.lsh = #{lsh}
    </select>
    <select id="selectXsWithLshForRk" resultType="com.mallfe.item.pojo.Xs">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, concat(ifnull(b.province,''),' ',ifnull(b.city,''),' ',ifnull(b.district,''),' ',ifnull(b.location,'')) as location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, a.status,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.driver_code as driverCode, b.path_code as pathCode,
               b.store_code as storeCode,e.store_name as storeName,
               b.storage_code as storageCode,f.store_name as storageName,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,
               c.pinm,c.xingh,c.tm,b.remark,
               case a.status when 0 then '配送中' when 1 then '已送达' when 2 then '未送达' end as statusInfo,
               b.remarks_wd as remarksWd,b.remarks_pl as remarksPl
        From mf_psrk_mx a left join mf_xs b on a.ddh = b.lsh
                          left join mf_sp c on b.hh=c.hh
                          left join mf_store e on b.store_code = e.store_code
                          left join mf_store f on b.storage_code = f.store_code
        where a.lsh = #{lsh}
    </select>
    <select id="selectXsList" resultType="com.mallfe.item.pojo.Xs">
        select b.id, b.lsh, b.hh, b.sl, b.lx, b.province, b.city, b.district, concat(ifnull(b.province,''),' ',ifnull(b.city,''),' ',ifnull(b.district,''),' ',ifnull(b.location,'')) as location, b.phone,
               b.contact, b.qwsj, b.lrid, b.lrusername, b.truename, b.status,
               b.driver_code as driverCode, b.path_code as pathCode,
               b.store_code as storeCode,e.store_name as storeName,
               b.storage_code as storageCode,f.store_name as storageName,
               case b.lx when 0 then '正常' when 1 then '样机' when 2 then '赠品' when 3 then '残次' end as lxInfo,
               b.lrsj, b.cksj, b.zfsj, b.pcsj, b.fcsj, b.sdsj,b.remark,
               c.pinm,c.xingh,c.tm,ifnull(d.kucn,0) as kucn,
               case b.status
                   when 0 then '新增'
                   when 1 then '未派车'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo,
        b.remarks_wd as remarksWd,b.remarks_pl as remarksPl
        From mf_xs b left join mf_sp c on b.hh=c.hh
        left join mf_kucn d on b.hh=d.hh and b.lx = d.lx and b.storage_code = d.store_code
        left join mf_store e on b.store_code = e.store_code
        left join mf_store f on b.storage_code = f.store_code
        inner join mf_user g on b.dept_code = g.dept_code
        <where>
            <if test="key != null and key != ''">
                (b.lsh = #{key}
                or c.pinm like concat('%',#{key},'%')
                or cast(b.hh as char) = #{key}
                or b.contact like concat('%',#{key},'%'))

            </if>

            <if test="status != null">
                and b.status=#{status}
            </if>

            <if test="uid != null">
                and g.id =#{uid}
            </if>

            <if test ="rq != null and rq !='' ">
                and b.qwsj &lt;= #{rq}
            </if>
        </where>
        order by b.lsh desc
    </select>
    <select id="selectAllBill" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, lrid, truename, status, lrsj, hh, pinm, sl, lx,ckusername,
        concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               phone, contact, qwsj, sdsj,xingh,tm,remark,province,city,district,picUrl,sdpicUrl,billNumber,
               case status
                   when 0 then '新增'
                   when 1 then '未派车'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   end as statusInfo,
               store_code as storeCode,store_name as storeName,storage_code as storageCode,storage_name as storageName,
               dept_code as deptCode,dept_name as deptName,driver_name as driverName,driver_phone as driverPhone
        from vw_xs
        <where>
            <if test="lrid != null">
                lrid = #{lrid}
            </if>

            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="lsh != null">
                and lsh = #{lsh}
            </if>
            <if test="hh != null">
                and hh = #{hh}
            </if>
            <if test="contact != null">
                and contact = #{contact}
            </if>

        </where>
        order by lrsj desc
    </select>

    <select id="selectAllBill2" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, lrid, a.truename, status, lrsj, hh, pinm, sl, a.lx,ckusername,
        concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location, phone, contact, qwsj, sdsj,xingh,tm,remark,province,city,district,
        case status
        when 0 then '新增'
        when 1 then '未派车'
        when 2 then '已派车'
        when 3 then '已送达'
        when 9 then '已作废'
        end as statusInfo,
        a.store_code as storeCode,store_name as storeName,a.storage_code as storageCode,storage_name as storageName,
        a.dept_code as deptCode,dept_name as deptName,driver_name as driverName,driver_phone as driverPhone
        from vw_xs a left join mf_user_pl b on a.plbm=b.plbm
        inner join mf_user c on a.store_code=c.store_code and b.uid=c.id and c.lx= 1
        <where>
            <if test="lrid != null">
                c.id = #{lrid}
            </if>

            <if test="phone != null">
                and a.phone = #{phone}
            </if>
            <if test="lsh != null">
                and a.lsh = #{lsh}
            </if>
            <if test="hh != null">
                and a.hh = #{hh}
            </if>
            <if test="contact != null">
                and a.contact = #{contact}
            </if>

        </where>
        order by a.lrsj desc
    </select>

    <select id="selectOneBill" resultType="com.mallfe.item.pojo.AllBill">
        select lsh, lrid, truename, status, lrsj, hh, pinm, sl, lx,province,city,district,
               concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               phone, contact, qwsj, sdsj,xingh,tm,remark,picUrl,sdpicUrl,billNumber,ckusername,
               case status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo,
               store_code as storeCode,store_name as storename,storage_code as storageCode,storage_name as storageName,
               dept_code as deptCode,dept_name as deptName,driver_name as driverName,driver_phone as driverPhone,
               remarks_pl as remarksPl,remarks_wd as remarksWd
        from vw_xs where lsh = #{lsh}
    </select>
    <select id="selectAllBillByStore" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, lrid, a.truename, status, lrsj, hh, pinm, sl, a.lx,province,city,district,
        concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               phone, contact, qwsj, sdsj,xingh,tm,remark,picUrl,sdpicUrl,billNumber,ckusername,
        case status
        when 0 then '新增'
        when 1 then '已提交'
        when 2 then '已派车'
        when 3 then '已送达'
        when 9 then '已作废'
        when 10 then '已撤销'
        end as statusInfo,
        a.store_code as storeCode,a.store_name as storeName,storage_code as storageCode,storage_name as storageName,
        a.dept_code as deptCode,a.dept_name as deptName,driver_name as driverName,driver_phone as driverPhone,
        remarks_pl as remarksPl,remarks_wd as remarksWd
        from vw_xs a inner join mf_user_pl b on a.plbm = b.plbm
        where a.status != 0

            <if test="storecode != null">
                and a.store_code = #{storecode}
            </if>

            <if test="phone != null">
                and a.phone = #{phone}
            </if>
            <if test="lsh != null">
                and a.lsh = #{lsh}
            </if>
            <if test="hh != null">
                and a.hh = #{hh}
            </if>
            <if test="contact != null">
                and a.contact = #{contact}
            </if>

            <if test="uid != null">
                and b.uid = #{uid}
            </if>

        order by a.lrsj desc
    </select>
    <select id="selectProvince" resultType="com.mallfe.item.pojo.Province">
        select distinct province from mf_district order by 1;
    </select>
    <select id="selectCity" resultType="com.mallfe.item.pojo.City">
        select distinct province,city from mf_district where province=#{province} order by 1,2;
    </select>
    <select id="selectDistrict" resultType="com.mallfe.item.pojo.District">
        select province,city,district from mf_district where city=#{city} order by id;
    </select>
    <select id="selectAllBillForSh" resultType="com.mallfe.item.pojo.AllBill">
        select billtype, lsh, lrid, a.truename, status, lrsj, hh, pinm, sl, a.lx,province,city,district,
        concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               phone, contact, qwsj, sdsj,xingh,tm,remark,picUrl,sdpicUrl,billNumber,
        case status
        when 0 then '新增'
        when 1 then '已提交'
        when 2 then '已派车'
        when 3 then '已送达'
        when 9 then '已作废'
        when 10 then '已撤销'
        end as statusInfo,
        a.store_code as storeCode,a.store_name as storeName,storage_code as storageCode,storage_name as storageName,
        a.dept_code as deptCode,a.dept_name as deptName,driver_name as driverName,driver_phone as driverPhone,
        remarks_pl as remarksPl,remarks_wd as remarksWd
        from vw_xs a inner join mf_user_pl b on a.plbm = b.plbm
        where a.status = 0

        <if test="storecode != null">
            and a.store_code = #{storecode}
        </if>

        <if test="phone != null">
            and a.phone = #{phone}
        </if>
        <if test="lsh != null">
            and a.lsh = #{lsh}
        </if>
        <if test="hh != null">
            and a.hh = #{hh}
        </if>
        <if test="contact != null">
            and a.contact = #{contact}
        </if>

        <if test="uid != null">
            and b.uid = #{uid}
        </if>

        order by a.lrsj desc
    </select>
    <select id="selectBillNumberCount" resultType="java.lang.Integer">
        select count(*) from mf_xs where status != 9 and bill_number = #{billNumber}
    </select>
    <select id="selectBill" resultType="com.mallfe.item.pojo.AllBill">
        select 'XS' as 'billtype',a.lsh, a.lrid,a.truename, a.status, a.lrsj, a.hh,b.pinm, sl,
               a.lx,b.xingh,b.tm,province,city,district,f.path_code,h.path_name,
               concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               b.plbm,pic_url as picUrl,a.ckuserid,k.truename as ckusername,
               a.phone,bill_number as billNumber,sdpic_url as sdpicUrl,
               contact,f.driver_code as driverCode,
               qwsj,g.driver_name as driverName,g.phone as driverPhone,a.psdh,f.status as ps_status,
               f.sdsj,a.store_code as storeCode,d.store_name as storeName,a.dept_code as deptCode,
        '锦州地区' as deptName,a.remark,a.storage_code as storageCode,
               j.store_name as storageName,
               case a.status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo,remarks_pl as remarksPl,remarks_wd as remarksWd
        From mf_xs a left join mf_sp b on a.hh = b.hh
        left join mf_user_pl pl on b.plbm=pl.plbm
        inner join mf_user c on a.store_code=c.store_code and pl.uid=c.id and c.lx= 1
            left join mf_store d on a.store_code = d.store_code

            left join mf_ps f on a.psdh = f.lsh
            left join mf_driver g on f.driver_code = g.driver_code
            left join mf_path h on f.path_code=h.path_code and f.dept_code=h.dept_code
            left join mf_store j on a.storage_code = j.store_code
            left join mf_user k on a.ckuserid = k.id
        <if test="shuserid != null">
            inner join mf_user_pl m on b.plbm=m.plbm
        </if>

        <where>
            <if test="lrid != null">
                c.lrid = #{lrid}
            </if>

            <if test="phone != null">
                and a.phone = #{phone}
            </if>
            <if test="lsh != null">
                and a.lsh = #{lsh}
            </if>
            <if test="hh != null">
                and a.hh = #{hh}
            </if>
            <if test="contact != null">
                and a.contact = #{contact}
            </if>

            <if test="status != null">
                and a.status = #{status}
            </if>

            <if test="his != null">
                and a.status !=0
            </if>

            <if test="storecode != null">
                and a.store_code = #{storecode}
            </if>

            <if test="shuserid != null">
                and m.uid = #{shuserid}
            </if>
        </where>
        order by a.lrsj desc

        limit 0,${limit}

    </select>
    <select id="selectBillDetail" resultType="com.mallfe.item.pojo.AllBill">
        select 'XS' as 'billtype',a.lsh, a.lrid,a.truename, a.status, a.lrsj, a.hh,b.pinm, sl,
               a.lx,b.xingh,b.tm,province,city,district,f.path_code,h.path_name,
               concat(ifnull(province,''),' ',ifnull(city,''),' ',ifnull(district,''),' ',ifnull(location,'')) as location,
               b.plbm,pic_url as picUrl,a.ckuserid,k.truename as ckusername,
               a.phone,bill_number as billNumber,sdpic_url as sdpicUrl,
               contact,f.driver_code as driverCode,
               qwsj,g.driver_name as driverName,g.phone as driverPhone,a.psdh,f.status as ps_status,
               f.sdsj,a.store_code as storeCode,d.store_name as storeName,a.dept_code as deptCode,
               '锦州地区' as deptName,a.remark,a.storage_code as storageCode,
               j.store_name as storageName,
               case a.status
                   when 0 then '新增'
                   when 1 then '已提交'
                   when 2 then '已派车'
                   when 3 then '已送达'
                   when 9 then '已作废'
                   when 10 then '已撤销'
                   end as statusInfo,remarks_pl as remarksPl,remarks_wd as remarksWd
        From mf_xs a left join mf_sp b on a.hh = b.hh
                     left join mf_user c on a.lrid = c.id
                     left join mf_store d on a.store_code = d.store_code

                     left join mf_ps f on a.psdh = f.lsh
                     left join mf_driver g on f.driver_code = g.driver_code
                     left join mf_path h on f.path_code=h.path_code and f.dept_code=h.dept_code
                     left join mf_store j on a.storage_code = j.store_code
                     left join mf_user k on a.ckuserid = k.id

        where a.lsh = #{lsh}
    </select>
</mapper>
